
/*public style*/
*{
	margin:0;
	padding:0;
	overflow:inherit;
	box-sizing:border-box;
	font-family: 'lato';
}

 body p{
	font-size: 17px;
	text-align: left;
	font-family: 'lato';
	color: #000000;	
}

	
 /* header style*/	

	.masthead{
		background-size: 100% 100%;
		width: 100%;
		height: 75vh;
		
	}
	.content{
		text-align: right;
		margin-top: 100px;
	}
	.content h1{
			font-size: 35px;
			font-weight: bold;
			text-align: left;
			color:#025196;
	}
	/*responsiivee*/
	@media screen and (max-width:280px){
		.masthead{
			width: 100%;
			display: block;
		}
		.content{
			margin-top: 50px;
			margin-left: 50px;
		}
	 }
	@media screen and (max-width:412px){
	  .masthead{
		width: 100%;
	}
	.content{
		  	margin-top: 180px;
			margin-left: 130px;
	}
	
	 }
	
	@media screen and (max-width:414px){
	  .masthead{
		width: 100%;
	}

	.content{
		margin-top: 180px;
		margin-left: 130px;
	}
	
}
@media screen and (max-width:430px){
	.masthead{
	  width: 100%;
  }
  .content{
	  margin-top: 180px;
	  margin-left: 130px;
  }
  
}
@media screen and (max-width:768px){
	.masthead{
	  width: 100%;
  }
  .content{
	  margin-top: 180px;
	  margin-left: 200px;
  }
  
}
@media screen and (max-width:820px){
.masthead{
	  width: 100%;
  }
  .content{
	  margin-top: 180px;
	  margin-left: 200px;
  }
  
}
	
@media screen and (max-width:540px){
		.masthead{
			width: 100%;
		}
		.content{
			margin-top: 50px;
			margin-left: 50px;
		}
	 }
	
 @media screen and (max-width:912px){
		.masthead{
			width: 100%;
			height: 50vh;
		}
		.content{
			margin-top: 140px;
			margin-left: 280px;
		}
	  
	   }
	
	
	 @media screen and (max-width:1024px){
		.masthead{
			width: 100%;
			height: 50vh;
		}
		.content{
			margin-top: 140px;
			margin-left: 280px;
		}
	  
	   }
	
	
	/* navbar section */
	.logo { width: 450px;}
	
		#navbar_top {
			background-color: #000000;
		}
		#navbar_top  a{
			color:#025196;
			font-size: large;
			font-weight: bold;
		}
		#navbar_top a.active {
			color: #f53533;
			
		}
		#navbar_top a:hover {
			color:rgb(105, 157, 201);
	
		}
	
	/* end navbar section*/

 /*index design*/

 /* logo and website*/
 .logoAndWebsite{
	width: 45%;
	margin: auto;
	box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .2);
	padding:30px;
	border-radius: 10px;

  }

.logoAndWebsite p a{
	color: #025196;
}
.logoAndWebsite p a:hover{
	text-decoration: none;
}

.logoAndWebsite .socialMedia{
	display: flex; 
	font-size: 25px;
}

.logoAndWebsite .socialMedia a i{
	padding: 0px 5px;
	color: #025196;
	text-decoration: none;
   }

   .logoAndWebsite .socialMedia a i:hover{
	color: red;
}

/*our mission section*/
 .about-us{
	background: url(../img/Our-mission.jpeg) no-repeat left;
	background-size: 50%;
	background-color: aliceblue;
	overflow: hidden;
	padding: 100px;
	
  } 
  .linerar-container{
	width: 55%;
  	float: right;
	background-color: #fdfdfd;
	padding: 80px;
  }

  ul.a {
    list-style-type: circle;
    list-style-position: inside;
}
/* end of iindex html*/


/* start leadership .html style*/
#more1, #more2, #more3, #more4, #more5, #more6, #more7, #more8, #more9, #more10, #more11, #more12{
	display: none;
   } 
  
	.align-items-stretch{
		background-color: rgb(248, 248, 248);
		border-radius: 10px;
		margin: 15px 0;
		width: 100%;
		padding:10px 10px 2px 10px;
		box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.37);
	  
	  }

	.team .member{
	  margin-bottom: 10px;
	  overflow: hidden;

	  
	}
	.team .member .member-img{
	  position: relative;
	  overflow: hidden;
	}
	.team .member .social{
	  position: absolute;
	  left: 0;
	  bottom: 30px;
	  right: 0;
	  opacity: 0;
	  transition: ease-in-out 0.3S;
	  text-align: center;
	}
	.team .member:hover .social{
		opacity: 1;
		bottom: 15px;
	}
   .team .member .social a{
	  color: #11111111;
	  margin: 0 2px;
	  padding-top: 7px;
	  border-radius: 50px;
	  width: 36px;
	  height: 36px;
	  background: red;
	  display: inline-block;
	  text-decoration: none;
	  transition: ease-in-out 0.3s;
	  color: #fff;
  
	} 
  
   .team .member .social a:hover{
	  background-color:#11111111 ;
	}
	.team .member .social i{
	  font-size: 18px;
	} 
	.team .member .member-info{
	  padding: 25px 2px;
	}
  
	.team .member .member-info h1{
	  font-weight: bold;
	  margin-bottom: 5px;
	  text-align: left;
	  font-size: 20px;
	  color: black;
	}
	 .team .member .member-info span{
	  font-size: 16px;
	  font-weight: 700px;
	  color:#025196;
	 letter-spacing: normal;
	  text-align: left;
	}
  
	.team .member .member-info p span{
	  color:black;

	}
	.team .member .member-info .btn{
			text-align:center;
			display:inline-block;
			color:#333333;
			padding:3px;
			border: 8px inset rgb(138, 183, 221);
			text-decoration:none;
			font-weight: bold;
		
	  }
	  .btn:hover{
		border: 8px inset rgb(225, 91, 19);
		color:#333333;
		font-weight: bold;
	  }  
	
/* start ccsi family*/

.ccsi_famaily_container{
	padding: 10px 0;
	position: relative;
	width: 70%;
	margin: 20px auto 0 auto;
	background-color: white;
   

}
.section{
	display: flex;
	border-radius: 10px;
	padding:40px;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.37);
	
}
.section h4{
	margin: 0%;
	color: blue;
}

.section h4 a{
	color:#025196;
	text-decoration: none;
	cursor: pointer;
	font-size: 25px;
	font-weight: 700;
} 
.section p{
	color: black;
	font-size: 17px;
	font-weight: 500;
	text-align:left;
	
}

.section h4 a:hover{
list-style: none;
color: #025196;
	
} 
  /* strart contact design*/ 

.contact .info-box {
	color: #444444;
	text-align: center;
	box-shadow: 10px 10px 30px rgba(214, 215, 216, 0.3);
	padding: 20px 0 30px 0;
  }
  
  .contact .info-box i {
	font-size: 32px;
	color: #106eea;
	border-radius: 50%;
	padding: 8px;
	border: 2px dotted #b3d1fa;
  }
  
  .contact .info-box h3 {
	font-size: 20px;
	color: #777777;
	font-weight: 700;
	margin: 10px 0;
  }
  
  .contact .info-box p {
	padding: 0;
	line-height: 24px;
	font-size: 14px;
	margin-bottom: 0;
  }
  
  .contact .php-email-form {
	box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
	padding: 30px;
  }
  
  .contact .php-email-form .error-message {
	display: none;
	color: #fff;
	background: #ed3c0d;
	text-align: left;
	padding: 15px;
	font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
	margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
	display: none;
	color: #fff;
	background: #18d26e;
	text-align: center;
	padding: 15px;
	font-weight: 600;
  }
  
  .contact .php-email-form .loading {
	display: none;
	background: #fff;
	text-align: center;
	padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #18d26e;
	border-top-color: #eee;
	animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form .form-group {
	margin-bottom: 20px;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
  }
  
  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
	border-color: #106eea;
  }
  
  .contact .php-email-form input {
	padding: 10px 15px;
  }
  
  .contact .php-email-form textarea {
	padding: 12px 15px;
  }
  
  .contact .php-email-form button[type=submit] {
	  text-align:center;
		display:inline-block;
		color:#333333;
		padding:3px;
		border: 8px inset rgb(138, 183, 221);
		text-decoration:none;
		font-weight: bold;
  }
  
  .contact .php-email-form button[type=submit]:hover {
	  border: 8px inset #e97775;
		color:#333333;
		font-weight: bold;
  }
  
  @keyframes animate-loading {
	0% {
	  transform: rotate(0deg);
	}
  
	100% {
	  transform: rotate(360deg);
	}
  }
  
  /* end contact design*/

/* footer style*/
footer{
	background-image: linear-gradient(to right, white 50%,#025196);
	
}
.footer-logo{
    width:100%;
}
/* end footer style*/

  @media screen and (max-width: 1200px ) {

	.linerar-container{
	  padding: 10px;

	}
  }


  @media screen and (max-width: 1000px ) {

	.about-us{
	  background-size: 100%;
	  padding: 100px 44px;

	}

  }

  @media screen and (max-width: 940px ) {

	
	#navbar  a{
		color:#4174C0;
	
	  }
	  #navbar a.active {
		color: #0462ef;
		font-weight: bold;
	  }
	  #navbar a:hover {
		color: #0462ef;
	
	  }

	.logoAndWebsite{
		width: 100%;
	}
	.contactSection{
		background: #03a9f5;
	}
	.conntactUs{
		padding: 20px;
	}
	.box{
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas:
		 "form"
		 "info";
		 /* "map"; */
	}
	
	.formBox .row50{
		display: flex;
		gap: 0;
		flex-direction: column;

	}
	.inputBox{
		width: 100%;
	}
	.contact{
		padding: 30px;
	}

	
}

  @media screen and (max-width: 800px ) {
	#navbar  a{
		color:#4174C0;
	  }

	  #navbar a.active {
		color: #0462ef;
		font-weight: bold;
	  }

	  #navbar a:hover {
		color: #0462ef;
	  }

	.about-us{
	  padding:0px;

	}
	.about-us h1{
		position: absolute;
		top: 150px;
		left: 50px;
		font-size: 50px;
		
		}
 
	.linerar-container{
	  padding: 60px;
	}
	
	
  }


  @media screen and (max-width: 700px ) {
	.crad-wrapper{
	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content: center;
	  align-items: center;
	}

	.logoAndWebsite{
		width: 100%;
	}

	.card{
	  margin: 2rem;
	}
	.navbar-toggler-icon{
		color: #025196;
	}

}


@media screen and (max-width: 600px ) {
	.logo {
		width: 190px ;
	}
	.formBox{
		width: 100%;
		
	}
	.crad-wrapper{
		width: 100%;
	  }
	  .conntactUs{
		padding: 0px;
	}

	
}






